.about-me {
    padding: 75px 70px;
}

.about-me__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.about-me__image {
    border-radius: 10px;
    max-width: 270px;
    max-height: 327px;

}

.about-me__name {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.about-me__profession {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 18px 0 26px;
}

.about-me__description {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 600px;
    margin-bottom: 100px;
}

.about-me__info {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 100px;

}